---
import CreationItem from "./CreationItem.astro";
import deepEarthMobile from "../assets/images/mobile/image-deep-earth.jpg";
import deepEarthDesktop from "../assets/images/desktop/image-deep-earth.jpg";
import nightArcadeMobile from "../assets/images/mobile/image-night-arcade.jpg";
import nightArcadeDesktop from "../assets/images/desktop/image-night-arcade.jpg";
import soccerTeamMobile from "../assets/images/mobile/image-soccer-team.jpg";
import soccerTeamDesktop from "../assets/images/desktop/image-soccer-team.jpg";
import theGridMobile from "../assets/images/mobile/image-grid.jpg";
import theGridDesktop from "../assets/images/desktop/image-grid.jpg";
import fromAboveMobile from "../assets/images/mobile/image-from-above.jpg";
import fromAboveDesktop from "../assets/images/desktop/image-from-above.jpg";
import pocketBorealisMobile from "../assets/images/mobile/image-pocket-borealis.jpg";
import pocketBorealisDesktop from "../assets/images/desktop/image-pocket-borealis.jpg";
import theCuriosityMobile from "../assets/images/mobile/image-curiosity.jpg";
import theCuriosityDesktop from "../assets/images/desktop/image-curiosity.jpg";
import fisheyeMobile from "../assets/images/mobile/image-fisheye.jpg";
import fisheyeDesktop from "../assets/images/desktop/image-fisheye.jpg";

const creations = [
  {
    title: "Deep Earth",
    imgUrlMobile: deepEarthMobile.src,
    imgUrlDesktop: deepEarthDesktop.src,
    alt: "Deep-Earth-image",
  },
  {
    title: "Night Arcade",
    imgUrlMobile: nightArcadeMobile.src,
    imgUrlDesktop: nightArcadeDesktop.src,
    alt: "Night-Arcade-image",
  },
  {
    title: "Soccer Team",
    imgUrlMobile: soccerTeamMobile.src,
    imgUrlDesktop: soccerTeamDesktop.src,
    alt: "Soccer-Team-image",
  },
  {
    title: "The Grid",
    imgUrlMobile: theGridMobile.src,
    imgUrlDesktop: theGridDesktop.src,
    alt: "Grid-image",
  },
  {
    title: "From Up Above VR",
    imgUrlMobile: fromAboveMobile.src,
    imgUrlDesktop: fromAboveDesktop.src,
    alt: "From-Above-image",
  },
  {
    title: "Pocket Borealis",
    imgUrlMobile: pocketBorealisMobile.src,
    imgUrlDesktop: pocketBorealisDesktop.src,
    alt: "Pcoket-Borealis-image",
  },
  {
    title: "The Curiosity",
    imgUrlMobile: theCuriosityMobile.src,
    imgUrlDesktop: theCuriosityDesktop.src,
    alt: "Curiosity-image",
  },
  {
    title: "Make It Fisheye",
    imgUrlMobile: fisheyeMobile.src,
    imgUrlDesktop: fisheyeDesktop.src,
    alt: "FishEye-image",
  },
];
---

<section class="creations-section">
  <div class="creations-header">
    <h3>OUR CREATIONS</h3>
    <div class="btn-overflow">
      <a class="see-all-btn desktop" href="#see-all">SEE ALL</a>
    </div>
  </div>

  <div class="creations-grid">
    {creations.map((item) => <CreationItem item={item} />)}
  </div>

  <a class="see-all-btn mobile" href="#see-all">SEE ALL</a>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

    let tl = gsap.timeline({
      scrollTrigger: {
        trigger: ".creations-section",
        start: "top 80%",
        end: "bottom 10%",
        toggleActions: "play reverse play reverse",
      },
    });

    tl.from(".creations-section h3", {
      x: -1000,
      opacity: 0,
      duration: 1.5,
      ease: "power4.out",
    });
    tl.from(
      ".creations-section .see-all-btn.desktop",
      {
        x: -500,
        opacity: 0,
        duration: 1.5,
        ease: "power4.out",
      },
      "<"
    );
    tl.from(
      ".creation-card",
      {
        x: -1000,
        stagger: 0.2,
        opacity: 0,
        duration: 1.5,
        ease: "power4.out",
      },
      "<"
    );
    tl.from(
      ".creations-section .see-all-btn.mobile",
      {
        x: -500,
        opacity: 0,
        duration: 1.5,
        ease: "power4.out",
      },
      "<=2"
    );


</script>